# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore environment variables file
# .env

# Ignore TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignore coverage reports
coverage/

# Ignore dependency directories
jspm_packages/
bower_components/
